:root {
    --border__color--main: lightgray;
    --brand__color--main: rgb(32, 100, 236);
    --jumbo__color:rgb(213, 231, 236);
    --color__palette--border: rgb(222, 222, 222);
    --border__color: lightgray;
    --section__color: rgb(255, 255, 255);
    /* --content__wrapper: rgb(255, 255, 255); */
    --flex__container: white;
    --divider: darkgray;
    
    font-size: 16px;
}
* {
    /* border: 1px solid dimgray; */
    font-family: serif;
}
body {
  margin: 0;
  background-color: rgb(253, 253, 253);
}
main {
}
img {
    display: block;
}

/* text elements*/
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 1.5rem;
  font-weight: bold;
}
a {
    padding: 1em, 1em;
  text-decoration: none;
  color: dimgray;
}
p {
  margin: 0.5em 0em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  font-weight: lighter;
}
.smaller {
  font-size: smaller;
}
.bolder {
  font-weight: bolder;
}
.txtCenter {
    text-align: center;
}
/* --------- */
.divider {
  width: 3em;
  height: 2px;
  background-color: var(--divider);
}
/* input----------------------------- */
button {
  font-size: medium;
  border: none;
  border-radius: 0.5em;
  padding: 0.7em 1.5em;
}
/* flex [generic flex container] */
.flxRow {
  display: flex;
  flex-direction: row;
}
.flxCol {
  display: flex;
  flex-direction: column;
}
.justify--spaceBetw {
    justify-content: space-between;
}
.justify--center {
    justify-content: center;
}
.align--center {
    align-items: center;
}
.flxGrow--1 {
    flex-grow: 1;
}
.flxRow--2 {

}
.flxWrap {
    flex-wrap: wrap;
}
.gap--1 {
    gap: 1em;
}





/* blocks-----------------------------*/
.content__wrapper {
  margin: auto;
  background-color: var(--content__wrapper);
  width: 60%;
}
.card {
  height: 100%;
  width: 30%;
  border-radius: 0.5rem;
  border: 2px solid var(--color__palette--border);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card__header {
  font-size: smaller;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__body {
    /* padding: 1em 1.5em; */
}
.card__section {
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.card__footer {
    margin-top: 2em;
}
nav {
  padding: 0.5em 0em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
section {
  margin-bottom: 7em;
  background-color: var(--section__color);
}
fieldset {
    border: none;
}





/* sections----------------------------- */
#navBar {
  padding: 0em 2em;
  background-color: var(--section__color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}





/* jumbo ------------------------*/
#jumbo {
    padding-top: 4em;
    padding-bottom: 2em;
  background-color: var(--jumbo__color);
  margin-bottom: 10em;
}

#jumbo .flex__container {
  position: relative;
  display: flex;
}
#jumbo .flex__item--1 {
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
  gap: 2em;
  width: 40%;
}
#jumbo flex__item--2 {
  position: relative;
  width: 50%;
}
#jumbo img {
  position: absolute;
  top: +1em;
  width: 70%;
}





/* modifers----------------------------- */
.btn--primary {
  color: white;
  background-color: var(--brand__color--main);
}
.btn--secondary {
    padding: 0.5em 1em;
  color: white;
  background-color: var(--brand__color--main);
}
.btn--white {
    border: 1px solid  black;
    background-color: white;
    color: dimgray;
}
.no--border {
    border: none
}
.width--100 {
  width: 100%;
}

.nav--primary {
  background-color: lightblue;
}
.a--secondary {
  text-decoration: underline;
  color: var(--brand__color--main);
}

.width--30 {
    width: 30%;
}
.width--33 {
    width: 33%;
}
.width--50 {
    width: 50%;
}
.width--60 {
    width: 60%;
}
.width--75 {
    width: 75%;
}
.width--80 {
    width: 80%;
}
.width--100 {
    width: 100%;
}